<h2 mat-dialog-title class="popHeader">
        <strong>{{action}}</strong> 
        <!-- <button *ngIf="action != 'Delete'" class="mat-step-icon closeIcon" (click)="closeDialog()"><i class="fa fa-close"></i></button> -->
    
      </h2>
      <!--class="radioMain"-->
    <div mat-dialog-content  *ngIf="action != 'Delete'; else elseTemplate">
        <div class="login-register" >
            <!-- style="background-image:url(assets/images/background/login-register.jpg);" -->
            <div class="login-register-box">
                <mat-card>
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="doAction()">
                          
                            <div fxLayout="row wrap">
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-lable>
                                            Title
                                        </mat-lable>
                                        <input matInput placeholder="Title" [formControl]="form.controls['title']">
                                    </mat-form-field>
                                    <small *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched" class="text-danger support-text">title is required.</small>
                                </div>
        
                               
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field class="example-chip-list">
                                    <mat-label>Tag</mat-label>
                                    <mat-chip-list #chipList aria-label="Tag selection">
                                      <mat-chip *ngFor="let tag of tags" [selectable]="selectable"
                                               [removable]="removable" (removed)="remove(tag)">
                                        {{tag}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                      </mat-chip>
                                      <input placeholder="New Tag..."
                                             [matChipInputFor]="chipList"
                                             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                             [matChipInputAddOnBlur]="addOnBlur"
                                             (matChipInputTokenEnd)="add($event)"
                                             formControlName="tag">
                                    </mat-chip-list>
                                  </mat-form-field>
                                  </div>
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                <mat-form-field>
                                        <mat-label>Comment</mat-label>
                                        <textarea matInput placeholder="Enter Description" formControlName="comment"></textarea>
                                    </mat-form-field>
                                 </div>   
                                 <div class="uploadBtnDiv">
                                        <input
                                          #file
                                          type="file"
                                          accept="image/*"
                                          formControlName="file"
                                          (change)="preview(file.files)"

                                        />
                                        <mat-progress-bar *ngIf="progress" class="progress-bar" mode="determinate" [value]="progress"></mat-progress-bar>
                                        <span *ngIf="progress">{{progress}}% done</span>
                                      </div>
                                <!-- col full-->
                                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                                    <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Submit</button>
                                    <button mat-button (click)="closeDialog()">Cancel</button>

                                </div>
                                <!-- col full-->
                            
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
  </div>    
  
<!--delete model -->
<ng-template #elseTemplate>
    Sure to delete
    <b>{{local_data.title}}</b>?
    <div mat-dialog-actions align="end">
      <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
  </ng-template>